In [0]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [0]:
base_url="https://gist.githubusercontent.com/alti-tude/710cb9d4dfc7ebcd0afb9cf93d8f6a8d/raw/574730ba009e69b81d6c79f2fef2c3dd5145db0a/"

In [4]:
data= {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases=pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
purchases=pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
purchases

   apples  oranges
a       3        0
b       2        3
c       0        7
d       1        2

In [6]:
df=pd.read_csv(base_url+'purchases.csv', index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [7]:
df=pd.read_json(base_url+'purchases.json')
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [8]:
df=pd.read_csv(base_url+'IMDB-Movie-Data.csv', index_col='Title')
df.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

##TASK

In [10]:
df=pd.read_csv(base_url+'MusicTop50.csv', index_col=0)
df.head(5)

                        Track.Name    Artist.Name  ... Speechiness  Popularity
1                         Se�orita   Shawn Mendes  ...           3        79.0
2                            China       Anuel AA  ...           9        92.0
3    boyfriend (with Social House)  Ariana Grande  ...          46        85.0
4  Beautiful People (feat. Khalid)     Ed Sheeran  ...          19        86.0
5      Goodbyes (Feat. Young Thug)    Post Malone  ...           7        94.0

[5 rows x 13 columns]

In [11]:
df.tail(5)

                                       Track.Name  ... Popularity
46                                One Thing Right  ...       88.0
47                                      Te Robar�  ...       88.0
48                                        Happier  ...       88.0
49                                  Call You Mine  ...       88.0
50  Cross Me (feat. Chance the Rapper & PnB Rock)  ...       82.0

[5 rows x 13 columns]

In [12]:

df.fillna((df.mean()), inplace=True)
df.tail()

                                       Track.Name  ... Popularity
46                                One Thing Right  ...       88.0
47                                      Te Robar�  ...       88.0
48                                        Happier  ...       88.0
49                                  Call You Mine  ...       88.0
50  Cross Me (feat. Chance the Rapper & PnB Rock)  ...       82.0

[5 rows x 13 columns]

In [47]:
df1=df[ df.Popularity==df.Popularity.min()] 
df1[df1["Loudness.."] ==  df1["Loudness.."].max()]

             Track.Name   Artist.Name  ... Speechiness  Popularity
26  If I Can't Have You  Shawn Mendes  ...           6        70.0

[1 rows x 13 columns]

In [23]:
df.max()

Track.Name            fuck, i'm lonely (with Anne-Marie) - from �13 ...
Artist.Name                                                  Young Thug
Genre                                                        trap music
Beats.Per.Minute                                                    190
Energy                                                               88
Danceability..db..                                                   90
Loudness..                                                           -2
Liveness.                                                            44
Valence ()                                                           95
Length                                                              309
Acousticness                                                         75
Speechiness                                                          46
Popularity                                                           95
dtype: object